@font-face {
    font-family: 'pt_serifbold';
    src: url('fonts/PTF55F.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('fonts/PTF56F.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifitalic';
    src: url('fonts/PTF75F.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pt_serifregular';
    src: url('fonts/PTF76F.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
